<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>




<dom-module id="gestor-operacion">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">       

        <table class="table table-sm table-hover">
            <thead>
              <tr class="table-dark">
                <th class="table-primary bg-info text-white" colspan="4">Realizar Operación</th>
              </tr>  
            </thead>
        </table>
        <div class="container-fluid">
          <div class="form-row align-items-center">
            <br>        
              <div class="col-auto">
                Iban Origen:
                <div class="input-group mb-2">
                  <input placeholder="IBAN origen" type="text" class="form-control" value="{{iban_origen}}" size="35" aria-describedby="basic-addon1"></input>                  
                </div>
              </div>
              <div class="col-auto">
                Iban Destino:
                <input placeholder="IBAN destino" type="text" class="form-control mb-2" value="{{iban_destino::input}}" size="35"></input>                            
              </div>  
              <div class="col-auto">
                  Importe:
                  <div class="input-group mb-2">
                     <!-- No se permiten comas, porque la función que formatea los balances da como resultado NaN ','//-->
                    <input placeholder="Importe" type="text" oninput="this.value = this.value.replace(/[^0-9.-]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" value="{{amount::input}}"  size="18" aria-describedby="basic-addon1"></input>                                 
                  </div>
                </div>              
          </div>
          <div class="form-row align-items-center">
              <br>        
                <div class="col-auto">
                  Descripción:
                  <input placeholder="Descripción" type="text" class="form-control mb-2" value="{{description::input}}" maxlength="140" size="100"></input>                                             
                </div>  
            </div>
            <div class="form-row align-items-center">  
                <div class="col-auto">   
                    <div class="input-group mb-2">              
                      <button class="form-control mb-2 btn btn-secondary btn-sm" on-click="sendEventNewOperation">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" value="{{balance::balance}}"></input> 
 
      
      
    <iron-ajax
    id="doNewOperation"
    method="POST"
    url="http://localhost:3000/osbank/mlab/movements"
    handle-as="json"
    content-type="application/json"      
    on-response="manageAJAXResponseNewOperation"
    loading="{{cargando}}"
    error="showError">
    ></iron-ajax> 

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorOperacion extends Polymer.Element {
      static get is() { return 'gestor-operacion'; }
      static get properties() {
        return {
          iban_origen: {
            type: String,
            value: ""
          }, iban_destino: {
            type: String
          }, amount :{
            type: Number
          }, description: {
            type: String
          }
        };
      }

      sendEventNewOperation(e) {
          console.log("gestor-operacion-->sendEventNewOperation");

          console.log(e);

          //var balance_actualizado = this.balance - this.amount;

          var newOpData = {
              "iban_origen" : this.iban_origen,
              "iban_destino" : this.iban_destino,
              "amount" : this.amount,
              "description" : this.description,
              "balance" : this.balance
              // "balance" : balance_actualizado
          };           

          console.log(JSON.stringify(newOpData));

          this.$.doNewOperation.body = JSON.stringify(newOpData);
          console.log("this.$.doNewOperation.body = " + this.$.doNewOperation.body)
          // Lanzamos la petición iron-ajax doNewOperation
          console.log("Lanzamos la petición this.$.doNewOperation.generateRequest")
          this.$.doNewOperation.generateRequest();

          console.log("Después de lanzar la petición this.$.doNewOperation.generateRequest"); 
        }      

      
      
      manageAJAXResponseNewOperation(data) {
          console.log("gestor-operacion-->manageAJAXResponseNewOperation");
          console.log(data.detail.response);   
          
        // disparamos el evento para que el componente "dash-board" actualice el listado de cuentas
        this.dispatchEvent(
          new CustomEvent(
            "operacion-ok",  
            {
              "detail" : {
              }
            }
          )
        )           
      }


    }

    window.customElements.define(GestorOperacion.is, GestorOperacion);
  </script>
</dom-module>
