<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>



<dom-module id="visor-cuentas">

  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <br>
    <br>

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th class="table-primary bg-info text-white" colspan="4">CUENTAS</th>
    </tr>  
    <tr class="bg-warning text-dark">
      <th scope="col">Número de Cuenta</th>
      <th scope="col" >Saldo</th>
      <th scope="col">Consultar Movimientos</th>
      <th scope="col">Realizar una Operación</th>
    </tr>
  </thead>
  <tbody>
    <template is="dom-repeat" items="[[accounts]]"> 
      <tr>                
        <td>{{item.iban}}</td>
        <td>{{item.balance}} €</td>
        <td><button class="btn btn-secondary btn-sm" on-click="getMovimientos" id="{{item.iban}}">Detalle</button></td>          
        <td><button class="btn btn-secondary btn-sm" on-click="createOperation" id="{{item.iban}}" balance="{{item.balance}}">Realizar Operación</button></td>
      </tr>
    </template>
  </tbody>
</table>


   <iron-ajax
      auto
      id="getAccounts"
      url="http://localhost:3000/osbank/mlab/accounts/{{userid}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, userid :{
            type: String,
            value: sessionStorage.getItem("userid")
          }, balance: {
            type: Number
          }, isLogged: {
            type: Boolean,
            value: false
          }

        };
      }


      // Función que devuelve la lista de cuentas para un cliente concreto
      showData(data) {
        console.log("visor-cuentas.html-->showData");
        //console.log(data.detail.response);

        this.accounts = data.detail.response;
        console.log("this.accounts = " + JSON.stringify(this.accounts));

        // formateamos los balances
        for (var i=0; i<this.accounts.length; i++){
          this.accounts[i].balance = new Intl.NumberFormat("es","ES").format(this.accounts[i].balance);
        }

        this.userid = data.detail.response[0].userId;
        //this.iban = data.detail.response[0].iban;
        //this.balance = new Intl.NumberFormat("es","ES").format(data.detail.response[0].balance);
      }

      // Función que devuelve la listas de movimientos para una cuenta concreta
      getMovimientos(e){
        console.log("visor-cuentas.html-->getMovimientos");        
        this.iban = e.srcElement.id;

        // disparamos el evento para que el componente "dash-board" pueda recuerar los movimientos asociados a la cuenta
        this.dispatchEvent(
          new CustomEvent(
            "account-selected",  
            {
              "detail" : {
                "iban" : e.srcElement.id
              }
            }
          )
        )        
      }

      createOperation(e) {
        console.log("visor-cuentas.html-->createOperation");        
        this.iban = e.srcElement.id;
        this.balance = e.srcElement.balance;


        // disparamos el evento para que el componente "dash-board" envíe la petición al componente "gestion-operacion"
        this.dispatchEvent(
          new CustomEvent(
            "op-selected",  
            {
              "detail" : {
                "iban" : e.srcElement.id,
                "balance" : e.srcElement.balance
              }
            }
          )
        )     
      }      
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
