<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">       

    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th class="table-primary bg-info text-white" colspan="4">Movimientos cuenta [[iban_origen]] </th>
          </tr>  
          <tr class="bg-warning text-dark">
            <th scope="col">Importe</th>
            <th scope="col" >Descripción</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[movements]]"> 
            <tr>                
              <td>{{item.amount}}</td>
              <td>{{item.description}} </td>
              <td>{{item.iban_origen}} </td>
              <td>{{item.iban_destino}} </td>                            
            </tr>
          </template>
        </tbody>
      </table>


    <iron-ajax 
      //auto
      id="getMovements"
      url="http://localhost:3000/osbank/mlab/movements/'{{iban_origen}}'"
      handle-as="json"
      on-response="showData"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban_origen: {
            type: String,
            value: "",
            observer: '_iban_origenChanged'  // _ nombre propiedad Changed
          }, iban_destino: {
            type: String
          }, amount :{
            type: Number
          }, description: {
            type: String
          }
        };
      }

      showData(data) {
        console.log("visor-movimientos-->Entramos en la función showData");
        console.log(data.detail.response);

        this.movements = data.detail.response;

        // formateamos los balances
        for (var i=0; i<this.movements.length; i++){
          this.movements[i].amount = new Intl.NumberFormat("es","ES").format(this.movements[i].amount);
        }        

        //this.iban = data.detail.response[0].iban;
        //this.amount = data.detail.response[0].amount;
        //this.description = data.detail.response[0].description;
      }

      _iban_origenChanged(newValue, oldValue) {
        console.log("visor-movimientos-->_iban_origenChanged");

        var iban_data = {
          "iban_origen" : this.iban_origen
        };          

        // Lanzamos la petición iron-ajax doLogin
        this.$.getMovements.body = JSON.stringify(iban_data);
        console.log("Lanzamos la petición this.$.getMovements.generateRequest")
        this.$.getMovements.generateRequest();        


        //console.log(JSON.stringify(loginData));

        //this.$.getMovements.body = JSON.stringify(loginData);
        //console.log("this.$.doLogin.body = " + this.$.doLogin.body);

        console.log("Después de lanzar la petición this.$.getMovements.generateRequest");        
      }      

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
