<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="new-client">
  
  <template> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <br>
    <font color="#FFFFFF"><b><h3>Formulario de Alta de Cliente</h3><b></font>  
    <br>
    <div class="row">
      <div class="col-1"><p style="color:#FFFFFF">Nombre: </p> </div>
      <div class="col-sm-1"><input placeholder="nombre" type="text" value="{{first_name::input}}"></input></div>

      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>

      <div class="col-1"><p style="color:#FFFFFF">Apellidos: </p> </div>
      <div class="col-sm-1""><input placeholder="apellidos" type="text" value="{{last_name::input}}"></input></div>

      <!-- Force next columns to break to new line -->
      <div class="w-100"></div> 

      <div class="col-1"><p style="color:#FFFFFF">Email: </p> </div>
      <div class="col-sm-1""><input placeholder="email" type="email" value="{{email::input}}"></input></div>

      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>  

      <div class="col-1"><p style="color:#FFFFFF">Password: </p> </div>
      <div class="col-sm-1"><input placeholder="password" type="password" value="{{password::input}}"></input></div>

      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>  
      <br>

      <div class="col-1"><button type="button" class="btn btn-info btn-sm" on-click="sendEventNewClient">Enviar</button></div>
      <div class="col-sm-1"><button type="button" class="btn btn-info btn-sm"  on-click="sendEventVolver">Volver</button></input></div>


    </div>    

   
  
   
    <iron-ajax
    id="doGetId"
    method="GET"
    url="http://localhost:3000/osbank/mlab/clients"
    handle-as="json"
    content-type="application/json"      
    on-response="manageAJAXResponseGetId"
    loading="{{cargando}}"
    error="showError">
    ></iron-ajax>     
    
    <iron-ajax
    id="doNewClient"
    method="POST"
    url="http://localhost:3000/osbank/mlab/clients"
    handle-as="json"
    content-type="application/json"      
    on-response="manageAJAXResponseNewClient"
    loading="{{cargando}}"
    error="showError">
    ></iron-ajax> 

    
   

    <script type="module" src="../../bower_components/paper-spinner/paper-spinner.js"></script>     
    <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>     

  </template>

  <script>
      /**
       * @customElement
       * @polymer
       */
      class NewClientEvento extends Polymer.Element {
        static get is() { return 'new-client'; }
        static get properties() {
          return {
            id: {
              type: Number 
            },    
            first_name: {
              type: String
            },     
            last_name: {
              type: String
            },
            email: {
              type: String
            }, password: {
              type: Number
            },
            iban: {
              value: String
            },
            isLogged: {
              type: Boolean,
              value: false
            },
            cargando: {
              type: Boolean
            }
          };
        }

        sendEventNewClient(e) {
          console.log("new-client-->sendEventNewClient");

          console.log(e);

          // Lanzamos la petición iron-ajax doGetId para obtener el id que le correspondería al nuevo cliente
          console.log("Lanzamos la petición this.$.doGetId.generateRequest")
          this.$.doGetId.generateRequest();                  

          console.log("Después de lanzar la petición this.$.doGetId.generateRequest"); 
        }

        sendEventVolver(e) {
          console.log("new-client-->sendEventVolver");

          console.log(e);
       
          window.location = "../../index.html";
          
          console.log("Después de lanzar la petición this.$.doGetId.generateRequest"); 
        }        

     
        manageAJAXResponseGetId(data) {
          console.log("new-client-->manageAJAXResponseGetId");
          console.log(data.detail.response);
       
          this.id = data.detail.response.id;

          var newClientData = {
              "id" : this.id,
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "email" : this.email,
              "password" : this.password              
          }; 

          console.log(JSON.stringify(newClientData));

          this.$.doNewClient.body = JSON.stringify(newClientData);
          console.log("this.$.doNewClient.body = " + this.$.doNewClient.body);

          // Lanzamos la petición iron-ajax doNewClient
          console.log("Lanzamos la petición this.$.doNewClient.generateRequest")
          this.$.doNewClient.generateRequest();

          console.log("Después de lanzar la petición this.$.doNewClient.generateRequest");                   
      }         
      
 
        manageAJAXResponseNewClient(data) {
          console.log("new-client-->manageAJAXResponseNewClient");
          console.log(data.detail.response);

          this.isLogged = data.detail.response.isLogged;        
          this.id = data.detail.response.id;
          this.first_name = data.detail.response.first_name;

          console.log("data.detail.response.isLogged = " + data.detail.response.isLogged);
          console.log("data.detail.response.id = " + data.detail.response.id);          
          //this.email = data.detail.response.usuario;  
          
          this.dispatchEvent(
            new CustomEvent(
              "alta-correcta",  //el nombre que yo quiera, pero en minusculas
              {
                "detail" : {
                  "id" : this.id,
                  "isLogged" : this.isLogged,
                  "first_name" : this.first_name
                }
              }
            )
          );           
      }     
    }    


      window.customElements.define(NewClientEvento.is, NewClientEvento);      
  </script>

</dom-module>