<!doctype html>

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/new-client/new-client.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">




<dom-module id="login-form">
  
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <style>
        .texto {
          color: red;
        }
    </style>     

<div hidden$="{{!showLogin}}" class="container-fluid" style="background-color:#004481">
      <div class="form-row align-items-center">
        <div class="col align-self-start">
            <h4><font color="#FFFFFF">Identifícate</font></h4>
        </div>  
      </div>
      <div class="form-row align-items-center">
        <br>        
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input placeholder="Usuario" type="email" class="form-control" value="{{email::input}}" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-auto">
          <input type="password" class="form-control mb-2" value="{{password::input}}" placeholder="Password">
        </div>        
        <div class="col-auto">
          <button class="btn btn-info btn-sm" on-click="sendEventLogin">Login</button>           
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-sm" on-click="sendEventNewClient">Hazte Cliente</button>
        </div>         
      </div>
    </div>


    
 
    <!-- Componente para dar de alta un nuevo cliente //-->    
    <div hidden$="{{!isNewClient}}" class="container-fluid" style="background-color:#1464A5">
        <new-client on-alta-correcta="actualizaDashboard"></new-client>
    </div>    

     <!-- Si se produce un error al hacer Login, se muestra el mensaje -->
    <div hidden$="{{!isError}}" class="alert alert-danger" role="alert">
        [[mensaje]]
    </div>         

    <!-- Si el cliente se ha logado correctamente, personalizamos el saludo -->
    <div hidden$="{{!isLogged}}" class="alert alert-info" role="alert">
      <div>
        <h5 class="alert-heading">Hola [[first_name]] - <small> [[inicio_sesion]]</small></h5>
      </div>      <button type="button" class="btn btn-primary btn-sm" on-click="logOut">Cerrar sesión</button>
      <hr>

    </div>       
     
    <iron-ajax
    auto
    id="doDate"
    method="GET"
    url="http://worldclockapi.com/api/json/utc/now"
    handle-as="json"
    content-type="application/json"      
    on-response="manageAJAXResponseDate"
    loading="{{cargando}}"
    on-error="shoWErrorLogin">
    ></iron-ajax>
    
    <iron-ajax
    id="doLogin"
    method="POST"
    url="http://localhost:3000/osbank/mlab/login"
    handle-as="json"
    content-type="application/json"      
    on-response="manageAJAXResponseLogin"
    loading="{{cargando}}"
    on-error="shoWErrorLogin">
    ></iron-ajax>

    <iron-ajax
    id="doLogout"
    method="POST"
    url="http://localhost:3000/osbank/mlab/logout/{{id}}"
    handle-as="json"
    content-type="application/json"      
    on-response="manageAJAXResponseLogout"
    loading="{{cargando}}"
    on-error="showError">
    ></iron-ajax>       
    
    <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>     
    

  </template>

  <script>
      /**
       * @customElement
       * @polymer
       */
      class LoginFormEvento extends Polymer.Element {
        static get is() { return 'login-form'; }
        static get properties() {
          return {
            id: {
              type: Number, 
            },      
            first_name: {
              type: String,
              value: sessionStorage.getItem("first_name")              
            },
            last_name: {
              type: String
            },     
            email: {
              type: String
            }, password: {
              type: Number
            },
            isLogged: {
              type: Boolean,
              value: sessionStorage.getItem("isLogged")
            },
            showLogin: {
              type: Boolean,
              value: !sessionStorage.getItem("isLogged")
            },
            inicio_sesion: {
              type: String
            },
            isNewClient: {
              type: Boolean,
              value: false
            },
            cargando: {
              type: Boolean
            },
            mensaje: {
              type: String
            },
            isError: {
              type: Boolean,
              value: false
            }

          };
        }

        // Función que se ejecuta para obtener la Fecha y Hora a partir de una API externa
        manageAJAXResponseDate(data) {
          console.log("login-form-->manageAJAXResponseDate");
          console.log(data.detail.response);

          var dia_semana = "";
          switch (data.detail.response.dayOfTheWeek) {
            case "Monday":
              dia_semana = "Lunes";
              break;
            case "Tuesday":
              dia_semana = "Martes";
              break;  
            case "Wednesday":
              dia_semana = "Miércoles";
              break;
            case "Thursday":
              dia_semana = "Jueves";
              break;                                         
            case "Friday":
              dia_semana = "Viernes";
              break; 
            case "Saturday":
              dia_semana = "Sábado";
              break;              
            case "Sunday":
              dia_semana = "Domingo";
              break;              
          }
        
          var anio = data.detail.response.currentDateTime.toString().split("-")[0];
          var mes = data.detail.response.currentDateTime.toString().split("-")[1];
          var dia_mes = data.detail.response.currentDateTime.toString().split("-")[2].substring(0,2);
          var hora = parseInt(data.detail.response.currentDateTime.toString().split("-")[2].substring(3,5)) + 1;
          var minuto = data.detail.response.currentDateTime.toString().split("-")[2].substring(6,8);        

          switch (mes) {
            case "01":
              dia_semana = "Enero";
              break;
            case "02":
              dia_semana = "Febrero";
              break;  
            case "03":
              dia_semana = "Marzo";
              break;
            case "04":
              dia_semana = "Abril";
              break;                                         
            case "05":
              dia_semana = "Mayo";
              break; 
            case "06":
              dia_semana = "Junio";
              break;              
            case "07":
              dia_semana = "Julio";
              break;     
            case "08":
              dia_semana = "Agosto";
              break;    
            case "09":
              dia_semana = "Septiembre";
              break;    
            case "10":
              dia_semana = "Octubre";
              break;    
            case "11":
              dia_semana = "Noviembre";
              break;    
            case "12":
              dia_semana = "Diciembre";
              break;                                                                                   
          }          
          
          console.log("anio = " + anio); 
          console.log("mes = " + mes); 
          console.log("dia_mes = " + dia_mes); 
          console.log("hora = " + hora);                         
          console.log("minuto = " + minuto);     
          
          this.inicio_sesion = "Son las " + hora + ":" + minuto + " del " + dia_semana + " " + dia_mes + " de " + mes + " de " + anio; 

          console.log("inicio_sesion = " + this.inicio_sesion);
        }

  
        // Función que se ejecuta al pinchar el botón de Login
        sendEventLogin(e) {
          console.log("login-form-->sendEventLogin");
          console.log(e);

          var loginData = {
          "email" : this.email,
          "password" : this.password
          };      

          console.log(JSON.stringify(loginData));

          this.$.doLogin.body = JSON.stringify(loginData);
          console.log("this.$.doLogin.body = " + this.$.doLogin.body);

          // Lanzamos la petición iron-ajax doLogin
          console.log("Lanzamos la petición this.$.doLogin.generateRequest")
          this.$.doLogin.generateRequest();

          console.log("Después de lanzar la petición this.$.doLogin.generateRequest"); 
        }


        // Función que se ejecuta para procesar el resultado de la validación del Login
        manageAJAXResponseLogin(data) {
          console.log("login-form-->manageAJAXResponseLogin");
          console.log(data.detail.response);

          
          this.isLogged = data.detail.response.isLogged;        
          this.id = data.detail.response.id;
          this.first_name = data.detail.response.first_name;

          sessionStorage.setItem("isLogged", data.detail.response.isLogged);
          sessionStorage.setItem("first_name", data.detail.response.first_name);
                   

          // Si se había devuelto algún mensaje de error, se resetea
          if(this.mensaje != ""){
            this.mensaje = "";
          }

          // Ocultamos el formulario de Login
          this.showLogin = false;   

          // Ocultamos el mensaje de error por si se hubiera producido
          this.isError = false;          
          
          this.dispatchEvent(
            new CustomEvent(
              "login-correcto",  //el nombre que yo quiera, pero en minusculas
              {
                "detail" : {
                  "id" : data.detail.response.id,
                  "isLogged" : data.detail.response.isLogged
                }
              }
            )
          );  
        }

        // Función que se ejecuta cuando se recibe un error en el Login
        shoWErrorLogin(data){
          console.log("login-form-->shoWErrorLogin"); 
          this.isError = true;

          this.mensaje = data.target.__data.lastError.response.mensaje;

          console.log(data.detail.request.status);
        }


        sendEventNewClient(e) {

          console.log("login-form-->sendEventNewClient");
          
          // Mostramos el formulario de Alta de Cliente
          this.isNewClient = true;

          // Ocultamos el formulario de Login
          this.showLogin = false;     

          // Ocultamos mensajes de Error si estuviera visible
          this.isError = false;     
        }  



        actualizaDashboard(e) {

          console.log("login-form-->actualizaDashboard");
          console.log(e);
          console.log(e.detail);

          this.isNewClient = false;         
          this.isLogged = true; 
          this.isError = false;
          this.id = e.detail.id;  
          //this.first_name = e.detail.first_name; 
          sessionStorage.setItem("first_name", e.detail.first_name);
          
          this.dispatchEvent(
            new CustomEvent(
              "login-correcto",  //el nombre que yo quiera, pero en minusculas
              {
                "detail" : {
                  "id" : this.id,
                  "isLogged" : this.isLogged
                }
              }
            )
          );          
        } 


        logOut() {
          console.log("login-form-->logOut");

          console.log("id = "  + this.id);

          // Dejamos de mostrar el mensaje de bienvenida
          this.isLogged = false;
          this.showLogin = true;
          this.email = "";
          this.password = "";

          // Lanzamos el evento para que dash-board solo muestre el login
          this.dispatchEvent(
            new CustomEvent(
              "log-out",  //el nombre que yo quiera, pero en minusculas
              {
                "detail" : {
                  "isLogged" : false
                }
              }
            )
          );           

          var logoutData = {
          "id" : this.id,
          "isLogged" : null
          };           

          console.log(JSON.stringify(logoutData));

          this.$.doLogout.body = JSON.stringify(logoutData);
          console.log("this.$.doLogout.body = " + this.$.doLogout.body);

          // Lanzamos la petición iron-ajax doLogin
          console.log("Lanzamos la petición this.$.doLogout.generateRequest")
          this.$.doLogout.generateRequest();

          console.log("Después de lanzar la petición this.$.doLogout.generateRequest"); 
        }

        manageAJAXResponseLogout(data) {
          console.log("login-form-->manageAJAXResponseLogout");
          console.log(data.detail.response);          

          window.location = 'index.html';

          this.email = "";
          this.password = "";
          this.first_name = "";
          this.last_name = "";
          this.isLogged = false;

          sessionStorage.remove("first_name");
          sessionStorage.remove("isLogged");
        }   
   }   
      window.customElements.define(LoginFormEvento.is, LoginFormEvento);      
  </script>

</dom-module>