<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-form/login-form.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../gestor-operacion/gestor-operacion.html">


<dom-module id="dash-board">

  <template>
      <div class="container" style="background-color:#072146"> <h2><font color="#FFFFFF">OsBank</font></h2></div>    

      <login-form on-login-correcto="procesarLogin" on-log-out="muestraLogin"></login-form>
      <visor-cuentas hidden$="{{!isLogged}}" userid="{{userid}}" on-account-selected="procesarMovimientos" on-op-selected="createOp"></visor-cuentas>
      <visor-movimientos hidden$="{{!showMov}}" id="receptor" iban_origen="{{iban_origen}}" ></visor-movimientos>
      <gestor-operacion hidden$="{{!showOp}}" id="op" iban_origen="{{iban_origen}}" on-operacion-ok="actualizaDashBoard" ></gestor-operacion>
  </template>


  <script>
      /**
       * @customElement
       * @polymer
       */
      class DashBoardEvento extends Polymer.Element {
        static get is() { return 'dash-board'; }
        static get properties() {
          return {
            isLogged: {
              type: Boolean,
              value: sessionStorage.getItem("isLogged")         
            }, userid: {
              type: String
            }, showMov: {
              type: Boolean,
              value: false
            }, iban_origen: {
              type: String
            }, showOp: {
              type: Boolean,
              value: false
            }
            
          };
        }
  
        // Función que se ejecuta cuando el login ha sido correcto
        procesarLogin(e) {
          console.log("login-manager.html --> procesarLogin");
          console.log(e);
          console.log(e.detail);

          if(e.detail.isLogged){
            this.isLogged = e.detail.isLogged;
            this.userid = e.detail.id;
            sessionStorage.setItem("userid", this.userid);
            sessionStorage.setItem("isLogged", this.userid);            
          }
        }  

        // Función que se ejecuta cuando el Logout ha sido correcto
        muestraLogin(e) {
          console.log("login-manager.html --> muestraLogin");
          console.log(e);
          console.log(e.detail); 

          sessionStorage.removeItem("userid"); 
          sessionStorage.removeItem("isLogged");
          sessionStorage.removeItem("first_name");
          
          this.isLogged = false;
          this.showMov = false;
          this.showOp = false;
        }

        // Función que se ejecuta para pintar los movimientos asociados a una cuenta
        procesarMovimientos(e) {

          console.log("dash-board-->procesarMovimientos");
          console.log(e);
          console.log(e.detail);

          this.$.receptor.iban_origen = e.detail.iban;
          this.showMov = true;  
          this.showOp = false;     
        } 

        // Función que se ejecuta para habilitar los campos necesarios de cara a realizar una transferencia
        createOp(e) {
          console.log("dash-board-->createOp");  
          this.showMov = false;            
          this.showOp = true;
          this.$.op.iban_origen = e.detail.iban;   
          this.$.op.balance = e.detail.balance;
        } 
        
        actualizaDashBoard(e){
          console.log("dash-board-->actualizaDashBoard");  
          location.reload();            
        }
  
   
    }       
    
    window.customElements.define(DashBoardEvento.is, DashBoardEvento);

  </script>

</dom-module>